{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>Casa em {{imovel.bairro}}, {{imovel.cidade}} | DFS Imóveis</title>

<center>
<h1> Casa em {{imovel.bairro}}, {{imovel.cidade}} </h1>
<br>
</center>


<div id="conteudo" style="width:100% ; height:100%;">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 h-50" src="{{imovel.foto1.url}}" alt="First slide" style="max-height:768px; overflow:hidden">
            <div class="carousel-caption d-none d-md-block">
                <h5>Casa em {{imovel.bairro}}, {{imovel.cidade}}</h5>
                <p>Área Construída: {{imovel.m2_construido}} m²  |  Área Total: {{imovel.m2_total}} m²  </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-50" src="{{imovel.foto2.url}}" alt="Second slide" style="max-height:768px; overflow:hidden">
            <div class="carousel-caption d-none d-md-block">
                <h5>Casa em {{imovel.bairro}}, {{imovel.cidade}}</h5>
                <p>Área Construída: {{imovel.m2_construido}} m²  |  Área Total: {{imovel.m2_total}} m²  </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-50"  src="{{imovel.foto3.url}}" alt="Third slide" style="max-height:768px; overflow:hidden">
            <div class="carousel-caption d-none d-md-block">
                <h5>Casa em {{imovel.bairro}}, {{imovel.cidade}}</h5>
                <p>Área Construída: {{imovel.m2_construido}} m²  |  Área Total: {{imovel.m2_total}} m²  </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 h-50"  src="{{imovel.foto4.url}}" alt="Fourth slide" style="max-height:768px; overflow:hidden">
            <div class="carousel-caption d-none d-md-block">
                <h5>Casa em {{imovel.bairro}}, {{imovel.cidade}}</h5>
                <p>Área Construída: {{imovel.m2_construido}} m²  |  Área Total: {{imovel.m2_total}} m²  </p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br>

<center><h2>Localização</h2>
    <br>
<iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBsep33o3nQJ7aGEMyak2QIvS4YaeHIVVg&q={{imovel.endereco}},{{imovel.bairro}}-{{imovel.cidade}}&zoom=18&maptype=roadmap"></iframe>
</center>

</div>
<br>
<center>
    <h2>Detalhes do imóvel</h2>
</center>
<br>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><img src="{%static 'images/endereco.png'%}" style="width:20px; height: 20px;  margin-right: 5px;opacity:0.7;">Endereço: {{imovel.endereco}}, {{imovel.bairro}} - {{imovel.cidade}}</li>
    <li class="list-group-item"><img src="{%static 'images/area_c.png'%}" style="width:20px; height: 20px;  margin-right: 5px;opacity:0.7;">Área construída:{{imovel.m2_construido}} m²</li>
    <li class="list-group-item"><img src="{%static 'images/area_t.png'%}" style="width:20px; height: 20px;  margin-right: 5px;opacity:0.7;">Área total: {{imovel.m2_total}} m²</li>
    <li class="list-group-item"><img src="{%static 'images/dorm.png'%}" style="width:20px; height: 20px;  margin-right: 5px;opacity:0.7;">Dormitórios: {{imovel.dormitorios}}</li>
    <li class="list-group-item"><img src="{%static 'images/suite.png'%}" style="width:20px; height: 20px;  margin-right: 5px;opacity:0.7;">Suítes: {{imovel.suites}}</li>
    <li class="list-group-item"><img src="{%static 'images/garage.png'%}" style="width:20px; height: 20px;  margin-right: 5px; opacity:0.7;">Vagas: {{imovel.vagas}}</li>
    <li class="list-group-item"><img src="{%static 'images/aserv.png'%}" style="width:20px; height: 20px; margin-right: 5px;opacity:0.7;">Área de serviço: {% if imovel.area_servico == True %} Sim {% else %} Não {% endif %}</li>
    <li class="list-group-item"><img src="{%static 'images/churras.png'%}" style="width:20px; height: 20px;  margin-right: 5px; opacity:0.7;">Churrasqueira: {% if imovel.churrasqueira == True %} Sim {% else %} Não {% endif %}</li>
    <li class="list-group-item"><img src="{%static 'images/pisci.png'%}" style="width:20px; height: 20px;  margin-right: 5px; opacity:0.7;">Piscina: {% if imovel.piscina == True %} Sim {% else %} Não {% endif %}</li>
    <li class="list-group-item"><img src="{%static 'images/agourm.png'%}" style="width:20px; height: 20px;  margin-right: 5px;opacity:0.7;">Área Gourmet: {% if imovel.area_gourmet == True %} Sim {% else %} Não {% endif %}</li>
    <li class="list-group-item">Descrição: <p>{{imovel.descricao}}</p></li>
    



    

</ul>
<br>
<br>
<center>
    <h1>Valores</h1>
    <p class="valor">R$ {{imovel.valor|floatformat:2}}</p>
    

</center>

<div class="card" style="font-size:large; max-width: 90vw; margin: auto;" >
    <div class="card-header"  style="font-size:large ;  text-align: center;">
        Oportunidade - Crédito imobiliário disponível!<br>
        <img src="{%static 'images/logo.png'%}" style="width:120px ; height:120px;"> 
    </div>
    <div class="card-body"> 
      <h5 class="card-title"  style="font-size:large ; text-align: center;">Carta de crédito contemplada - Caixa consórcios</h5>
      <p class="card-text"  style="font-size:large ;text-align: center;"></p>
      <p class="card-text"  style="font-size:large ;text-align: center;">Crédito de R$ 1.234.567,89</p>
      <p class="card-text"  style="font-size:large ;text-align: center;">Entrada: R$ 1.234,56</p>
      <p class="card-text"  style="font-size:large ;text-align: center;">Parcelas: 123x de R$4.567,89</p>
      
      <center><a href="https://api.whatsapp.com/send?phone=5519989081276&text=Ol%C3%A1%2C%20vi%20o%20seu%20site%20e%20tenho%20interesse%20no%20cr%C3%A9dito%20de%20c%C3%B3digo%13000" class="btn btn-primary"  style="font-size:large">Fale com um representante</a></center>
    </div>
  </div>
  </div>



<center><h2>Compartilhe esse imóvel</h2>
<a href="whatsapp://send?text=https://dfsimoveis.herokuapp.com/detalhes/{{imovel.id}}" data-action="share/whatsapp/share"><img src="{%static 'images/wpp.png'%}" style="width:100px ; height: 100px;"></a>
</center>
{% endblock %}
