{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if casas %}
    {% for casa in casas %}




    <div id="robson">
        <div id="capa"> <img src="{{casa.foto.url}}"> </div>
        <div id="informe">
            <div id="titulo"> Casa em {{casa.bairro}}, {{casa.cidade}} </div>
            <div id="valor"> R$ {{casa.valor}} </div>
                <div id="qlqr">
                    <div id="dorme"> Dormitórios: {{casa.dormitorios}} </div>
                    <div id="suite"> Suítes: {{casa.suites}} </div>
                </div>
                <div id="qlqr">
                    <div id="area"> Área Construída: {{casa.m2_construido}} m² </div>
                    <div id="area">Área Total: {{casa.m2_total}} m² </div>
                </div>
        <div id="descricao"> 
        <ul>
            <li> Área de serviço: {% if casa.area_servico == True %} Sim {% else %} Não {% endif %} </li>
            <li> Churrasqueira: {% if casa.churrasqueira == True %} Sim {% else %} Não {% endif %} </li>
            <li>  Piscina: {% if casa.piscina == True %} Sim {% else %} Não {% endif %}</li>
            <li> Garagem: {{casa.vagas}} vagas </li>
        </div>
        </div>
    
    </div>
    
  
{% endfor %}
{% else %}
<h1>Sem imóveis cadastrados.</h1>
{% endif %}
{% endblock %}
