{% extends 'base.html' %}
{% block content %}
{% load static %}


{% if casas %}
    {% for casa in casas %}

<div class="casa-container">
            <div class="foto-container"><img src="{{casa.foto.url}}" style="border-radius: 22px;"></div>

            <div class="dados-container">
            <h2>Casa em {{casa.bairro}}, {{casa.cidade}}</h2>
            
            <h3>R$ {{casa.valor}}</h3>
            <h4>Área Construída: {{casa.m2_construido}} m²</h4>
            <h4>Área Total: {{casa.m2_total}} m²</h4>
            Dormitórios: {{casa.dormitorios}}
            Suítes: {{casa.suites}}
            Garagem: {{casa.vagas}} vagas
            Área de serviço: {% if casa.area_servico == True %} Sim {% else %} Não {% endif %}
            Churrasqueira: {% if casa.churrasqueira == True %} Sim {% else %} Não {% endif %}
            Piscina: {% if casa.piscina == True %} Sim {% else %} Não {% endif %}
            Área Gourmet: {% if casa.area_gourmet == True %} Sim {% else %} Não {% endif %}

    
    


  
{% endfor %}
{% else %}
<h1>Sem imóveis cadastrados.</h1>
{% endif %}
{% endblock %}
