{% extends 'base.html' %}
{% block content %}
{% load static %}

<center><h1>Encontre o imóvel ideal para você!</h1></center>
{% if casas %}
    {% for casa in casas %}




    <div class="robson">
        <div class="capa"> <img src="{{casa.foto.url}}"> </div>
        <div class="informe">
            <div class="titulo"> Casa em {{casa.bairro}}, {{casa.cidade}} </div>
            <div class="valor"> R$ {{casa.valor}} </div>
                <div class="qlqr">
                    <div class="dorme"> Dormitórios: {{casa.dormitorios}} </div>
                    <div class="suite"> Suítes: {{casa.suites}} </div>
                    <ul>
                        <li> <img src="{%static 'images/aserv.png'%}" style="width:20px; height: 20px; margin-right: 5px;">Área Serviço: Sim </li>
                        <li><img src="{%static 'images/agourm.png'%}" style="width:20px; height: 20px;  margin-right: 5px;">Área Gourmet: Sim </li>
                        </ul>
                </div>
                <div class="qlqr">
                    <div class="area"> Área Construída: {{casa.m2_construclasso}} m² </div>
                    <div class="area">Área Total: {{casa.m2_total}} m² </div>
                    <ul>

                    
                    <li><img src="{%static 'images/pisci.png'%}" style="width:20px; height: 20px;  margin-right: 5px;">Piscina: Sim </li>
                    <li><img src="{%static 'images/garage.png'%}" style="width:20px; height: 20px;  margin-right: 5px;">Garagem: X vagas </li>
                </ul>
                </div>
                
                <div class="descricao"> 
                    
                       
                    </div>
        </div>
        
    </div>
    
  
{% endfor %}
{% else %}
<h1>Sem imóveis cadastrados.</h1>
{% endif %}
{% endblock %}
